.title-create {
  color: #1e84c6;
  margin-top: 5%;
}
.h5-center > h5 {
  text-align: center;
}

.title-create-sub {
  color: #9a9a9a;
  margin-top: 4%;
}
.h5-center_btn {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 10%;
}
.h5-center_btn > a {
  color: #eeeeee !important;
  font-weight: bold;
  border-radius: 0px;
}
.btn-want {
  background-color: #f37a22;
  color: #eeeeee;
  border-color: #f37a22;
}
.btn-want:hover {
  background-color: #eeeeee;
  color: #f37a22 !important;
  border: #eeeeee;
}

.msg-complete-profile {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: red;
}

.tox-notifications-container {
  display: none !important;
}
.MsgError {
  color: red;
  margin-top: 10px;
}
.tox-tinymce {
  margin-top: 15px !important;
}
.MsgSuccess {
  color: #1e84c6;
  margin-top: 10px;
  margin-bottom: 10px;
}
.FilteredMultiSelect__filter {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #eeeeef;
  border-bottom: 1px solid #f37a22 !important;
  border-radius: 0px !important;
  border-top: 0px solid #eeeeef !important;
  border-left: 0px solid #eeeeef !important;
  border-right: 0px solid #eeeeef !important;
}

.FilteredMultiSelect__select {
  width: 100%;
  margin-bottom: 10px;
  background-color: #eeeeef;
  border-bottom: 1px solid #f37a22 !important;
  border-radius: 0px !important;
  border-top: 0px solid #eeeeef !important;
  border-left: 0px solid #eeeeef !important;
  border-right: 0px solid #eeeeef !important;
}
.FilteredMultiSelect__button {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
  border-radius: 0.25rem !important;
  margin-bottom: 15px;
  padding: 5px 10px !important;
}
.FilteredMultiSelect {
  margin-top: 4%;
  margin-bottom: 10px;
}
.FilteredMultiSelect__button:hover {
  cursor: pointer;
}
.btn-remove {
  background-color: #f37a22;
  padding: 2px 10px;
  border-radius: 0.2rem;
  color: #ffffff;
}
.list-tags > li {
  margin-top: 5px;
  margin-bottom: 5px;
}
