.errorsMsg{
    color: red;
    font-size: 12px;
    text-align: center;
    position: absolute;
    transform: scale(1.05);
    transition: transform 0.25s ease-out;
    margin-left: 2%;
}
.errorLogin{
    color: red;
    font-size: 12px;
    text-align: center;
    transform: scale(1.05);
    transition: transform 0.25s ease-out;

}

.successMsg{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    color: #007aff;
}

.successMsg > span{
    position: absolute;
    width: 100%;
}

.successMsg > .msgerror{
    color: red;
}

.successMsg > .msgsuccess{
    color: blue;
}
