.update-project > h5 {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}
.table .thead-dark th {
  color: #fff;
  background-color: #f37a22 !important;
  border-color: #f37a22 !important;
}

.table td,
.table th {
  text-align: center;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-popper {
  z-index: 100 !important;
}
.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: auto;
  height: 40px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
.form-sub-warning {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.botton-save {
  color: #ffffff !important;
}
.row-tags {
  margin-top: 2%;
  margin-bottom: 10%;
}
.tag-item {
  text-transform: uppercase;
  color: #f37a22;
  background-color: #fff;
  padding: 3%;
  margin: 1%;
  text-align: center;
}
.reward-title {
  text-transform: uppercase;
  color: #1e84c6;
}

.preview-content {
  width: 100%;
}
/*preview left content*/
.preview-left__content {
  margin-top: 10%;
}
.preview-h {
  text-transform: uppercase;
  text-align: justify;
  color: #f37a22;
  margin-bottom: 3%;
}
.preview-spans {
  width: 100%;
}
.preview-spans > div > a {
  color: #9a9a9a !important;
  text-decoration: none;
}
.tab-list-item {
  padding: 1.5rem 1rem !important;
}
.preview-p {
  text-align: justify;
  color: #3c3c3c;
  width: 95%;
  margin: 0 auto;
}
.preview-left__city {
  text-align: right;
}
/* preview right content*/
.preview-right__content {
  margin-top: 10%;
}
.h5-t {
  color: #f37a22;
  text-align: center;
  margin-bottom: 3%;
}
.avatar {
  margin-bottom: 10%;
}
.avatar > img {
  width: 20%;
  float: left;
  margin: 3%;
}
.data-preview {
  margin-top: 2%;
  margin-bottom: 5%;
}
.data-preview > p {
  margin-bottom: 0px !important;
  color: #9a9a9a;
  font-size: 15px;
}
.data-preview-meta {
  width: 100%;
}
.data-preview-meta > h5 {
  text-align: left;
}
.data-preview-meta__txt {
  color: #9a9a9a;
}
.data-preview-meta__price {
  color: #f37a22;
  text-align: right;
}
.data-preview-apoyado {
  margin-top: 10%;
  text-align: right;
}
.data-preview-apoyado > p {
  color: #9a9a9a;
}
.heart > span > img {
  width: 14%;
}
.heart > span {
  color: #9a9a9a;
}
.data-preview-followers {
  margin-top: 10%;
}
.heart-count > span {
  color: #9a9a9a;
  margin-top: 1%;
}
.instagram {
  width: 100%;
}
.icons-social-networks {
  margin-bottom: 15%;
}
.data-preview-meta__share {
  margin-top: 10%;
}
.data-preview-meta__share > h5 {
  color: #9a9a9a;
  margin-bottom: 4%;
}
.box-form {
  margin-top: 35%;
  margin-bottom: 35%;
  text-align: center;
}
.box-form > div > label > span {
  text-transform: uppercase;
  color: #9a9a9a;
}
.box-txt {
  color: #f37a22;
}
.box-reward {
  margin-top: 15%;
  background-color: #fff;
  padding: 2%;
}
.box-contributions-1 {
  padding: 5%;
}
.box-contributions-1 > span {
  color: #f37a22;
}
